project_name          = "oil-price-tracker"
environment           = "dev"
region                = "ap-northeast-1"
notification_email    = "example@gmail.com"
ec2_instance_type     = "t2.micro"
allowed_ssh_cidr      = "0.0.0.0/0"
influxdb_organization = "university_project"
influxdb_bucket       = "oil_prices"
influxdb_username     = "admin"
influxdb_password     = "password"